.post {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleP {
    font-size: 48px;
    font-weight: bold;
    color: rgb(58, 139, 189);
}
.textP {
    
}

.dateP {
    font-size: 12px;
    text-align: end;
    color: rgb(106, 108, 109);
}

a {
    margin: 5px;
}
button {
    margin: 10px;
}